#form-register {
  @apply w-full min-h-dvh flex justify-center items-center;
  background: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new-form-register {
  @apply box-border;
  padding: 1rem 0.5rem 0 0.5rem;
}
