#form-register {
  @apply w-full min-h-dvh flex justify-center items-center;
  background: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new-form-register {
}
